/* css styles  008c8c */

@font-face {
  font-family: "MyFont";
  src: url("cmunrm.ttf");
}

.summary-callout {
  background: linear-gradient(
    135deg,
    #fdfbfb,
    #ebedee
  ); /* Soft gradient background */
  border-left: 5px solid #007bff; /* Accent color for emphasis */
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.summary-callout strong {
  color: #0056b3; /* Slightly darker color for emphasis */
}

:is(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header-1,
    .HyperMD-header-2,
    .HyperMD-header-3,
    .HyperMD-header-4,
    .HyperMD-header-5,
    .HyperMD-header-6
  )::before {
  content: "§ ";
  font-size: 0.7em;
  vertical-align: middle;
  color: var(--text-accent);
  font-weight: 500;
}

/* for editor */
.cm-quote {
  color: var(--text-normal) !important;
}
